* {
	margin: 0;
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: url("fonts/Pacifico.woff2") format('woff2');
}

body {
	background: #EEE;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background: #222;
	margin-bottom: 1em;
	text-align: center;
}

nav {
	font-weight: bold;
	padding-bottom: 1em;
}

nav a {
	color: #EEE;
	padding-inline: 1em;
}

nav a:hover {
	color: #999;
}

main {
	position: relative;
	margin: auto;
	padding: 0em 1em;
}

aside {
	margin: auto;
	text-align: center;
	margin-top: 1.5em;
}

#contact {
	text-align: left;
	padding: 1em 1em 0em;
}

section {
	margin-top: 0.8em;
	margin-bottom: 1.2em;
}

h1 {
	font-family: 'Pacifico', serif;
	font-size: 2.4em;
	padding: 0.8em 0em 0.4em;
	color: #ff0080;
}

h2 {
	font-size: 1.5em;
	border-bottom: 2px solid black;
}

h3 {
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-bottom: -0.3em;
}

p, li {
	color: #222;
	font-size: 1em;
}

p {
	line-height: 1.5;
	margin-top: 0.5em;
	text-align: justify;
	hyphens: auto;
}

dt {
	font-weight: bold;
	margin-top: 0.5em;
}

dd {
	margin-left: 1em;
	margin-top: 0.25em;
}

address {
	font-style: normal;
	font-family: monospace;
	margin: 0em;
	white-space: pre-line;
}

figure {
	text-align: center;
	margin: 1em;
}

figcaption {
	font-style: italic;
}

ul {
	list-style-type: square;
	padding-top: 0.4em;
	padding-left: 1.75em;
}

ol {
	padding-top: 0.4em;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #06C;
}

a:hover {
	color: #20b0ff;
}

a.paperurl {
	color: #C07;
}

a.paperurl:hover {
	color: #ff80cc;
}

a.person {
	color: #60D;
}

a.person:hover {
	color: #8080ff;
}

#pride {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 50px;
}

#pride:hover {
	bottom: 10px;
	right: 10px;
	width: 60px;
}

@media (min-width: 45em) {
	main, aside {
		width: 40em;
	}
	#contact {
		float: right;
		padding-top: 0em;
	}
	h1 {
		font-size: 3em;
	}
	nav {
		font-size: 1.25em;
	}
}
