* {
	margin: 0;
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: url("fonts/Pacifico.woff2") format('woff2');
}  

body {
	background: #EEE;
	margin: auto;
	padding: 0em 1em;
}

.section {
	margin-top: 0.8em;
	margin-bottom: 1.2em;
}

h1 {
	font-family: 'Pacifico', serif;
	font-size: 3em;
	padding: 0.8em 0em 0.4em;
}

h2 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.5em;
	border-bottom: 2px solid black;
}

h3 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-bottom: -0.3em;
}

p, li, pre.address {
	color: #222;
	font-size: 1em;
	font-family: 'Noto Sans', sans-serif;
}

p {
	line-height: 1.5;
	margin-top: 0.5em;
	text-align:justify;
	hyphens: auto;
}

ul {
	list-style-type: square;
	padding-top: 0.4em;
	padding-left: 1em;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #0080ff;
}

a:hover {
	color: #20b0ff;
}

a.paperurl {
	color: #ff0080;
}

a.paperurl:hover {
	color: #ff80cc;
}

a.person {
	color: #8000ff;
}

a.person:hover {
	color: #8080ff;
}

#pride {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 50px;
}

#pride:hover {
	bottom: 10px;
	right: 10px;
	width: 60px;
}

@media only screen and (min-width: 42em) {
	body, .section {
		width: 40em;     
	}
	.contact {
		float: right;
	}
}

@media only screen and (min-width: 65em) {
	body {
		width: 62em;
	}
	.photo {
		float: right;
	}
	.contact {
		float: none;
	}
}
